{% extends "layout/base.html.jinja2" %}
{% block title %}
職能發展學院-首頁
{% endblock %}

{% block link %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/index_banner.css')}}">
{% endblock %}

{% block main %}

<div class="event-banner-container">
    <h1 class="event-title">雙北世界壯年運動會</h1>
    <p class="event-date">2025-05-17~30和世界挑一場</p>
    <div class="event-image-wrapper">
        <img src="{{url_for('static',filename='images/banner_bk1.png')}}" alt="自行車競技" class="event-image">
        <span class="event-image-tag" contenteditable="true">台北大學體育館</span>
        <p class="event-description">自行車競技</p>
    </div>

</div>

<section class="competition-info">
    <h2 class="section-title">競賽資訊</h2>
    <p class="section-subtitle">16種運動競賽</p>
    <div class="competition-grid">
        <div class="competition-item">
            <img src="{{url_for('static',filename='images/n1.png')}}" alt="射箭" class="item-image">
            <p class="item-text">射箭</p>
        </div>
        <div class="competition-item">
            <img src="{{url_for('static',filename='images/n2.png')}}" alt="田徑" class="item-image">
            <p class="item-text">田徑</p>
        </div>
        <div class="competition-item">
            <img src="{{url_for('static',filename='images/n3.png')}}" alt="水上運動" class="item-image">
            <p class="item-text">水上運動</p>
        </div>
        <div class="competition-item">
            <img src="{{url_for('static',filename='images/n4.png')}}" alt="羽球" class="item-image">
            <p class="item-text">羽球</p>
        </div>
    </div>
</section>

{% endblock %}