{% extends "layout/base.html.jinja2" %}
{% block title %}
職能發展學院-最新消息
{% endblock %}

{% block link %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/news.css')}}">
{% endblock %}

{% block main %}
<h1>{{ self.title() }}</h1>
{{ rows }}
<br>

<h1>最新訊息</h1>

<div class="accordion-container">
    {% for item in accordion_data %}
    <div class="accordion-item {% if loop.first %}active{% endif %}">
        <div class="accordion-header">
            <h3 class="accordion-title">{{ item.title }}</h3>
            <div class="accordion-date">{{ item.date }}</div>
            <span class="accordion-toggle-icon"></span>
        </div>
        <div class="accordion-content">
            <p>{{ item.content }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<br>
<table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse; width: 100%;">
    <thead style="background-color: #f2f2f2;">
        <tr>
            {% for colname in colnames %}
            <th>{{ colname }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            {% for col in row %}
            <td>{{ col }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>

<script src="{{url_for('static',filename='js/news.js')}}"></script>

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('table').DataTable({
            ordering: true,
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/zh-HANT.json'
            }
        });
    });
</script>

{{ super() }}
{% endblock %}